.drop-box {
    border: 2px solid black;
    position: relative;
}

.drop-box__inner {
    box-sizing: border-box;
    cursor: grab;
    height: 100%;
    min-height: 280px;
    position: relative;
    padding: 20px 20px 20px 30px;
}

.drop-box__title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px;
}

.drop-box,
.drop-box__inner,
.drop-box__drag {
    border-radius: 10px;
}

.drop-box--active {
    border-style: dashed;
}

.drop-box--dragging {
    opacity: 0.5;
}

.drop-box--dragging .drop-box__inner {
    visibility: hidden;
}

.drop-box--hover .drop-box__drag,
.drop-box--active .drop-box__drag,
.drop-box--dragging .drop-box__drag {
    opacity: 0;
}

.drop-box--hover .drop-box__inner {
    background-color: black !important;
}

.drop-box__drag {
    align-items: center;
    background-color: #000000;
    cursor: move;
    display: flex;
    height: 40px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 50%;
    width: 20px;
    transform: translate(-50%, -50%);
}
